/* General Styles */
body {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 10px;
}

/* Container */
.container {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Blue with transparency */
    border-radius: 15px;  /* Increased border-radius for more roundness */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.125);
    max-width: 90%;
    margin: 20px auto;

    /* Added outline */
    outline: 1px solid #ffffff; /* Outline thickness and color */
}

/* Card */
.widget-card {
    border: none;
    overflow: hidden;
    background: #fff;
    transition: transform 0.3s;
    border-radius: 15px;  /* Added border-radius for the card */
}

/* Card Title */
.widget-card-title {
    color: #000000; /* Orange */
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid #000000; /* Grey */
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Filter Labels */
.form-label {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Select Inputs */
.form-select {
    border: 2px solid #ff6600; /* Orange */
    border-radius: 12px;  /* Slightly round the select inputs */
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Table */


.table thead th {
    background-color: rgb(255, 81, 18); /* Orange */
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border-color: white;
}

.table tbody tr {
   
    border-radius: 15px;
    overflow: hidden;
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody td {
    padding: 15px;
    background-color: #ffffff;
}

/* Status Badges */
.bg-success {
    background-color: #008000 !important; /* Green */
    color: #ffffff;
    border-radius: 20px;
    padding: 7px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.bg-danger {
    background-color: #ff0000 !important; /* Red */
    color: #ffffff;
    border-radius: 20px;
    padding: 7px 15px;
    font-weight: bold;
    text-transform: uppercase;
}
